<div class="timeline">
  <div class="container container-left">
    <img src="assets/images/amazon.png" alt="amazon.png">
    <div class="text-box">
      <h2>Alphabetic Inc</h2>
      <small>2018 - 2019</small>
      <p>Lorem ipsum, eum temporibus accusamus neque a nihil iure nulla delectus maiores. Officiis, pariatur.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>
  <div class="container container-right">
    <img src="assets/images/flipkart.png" alt="flipkart">
    <div class="text-box">
      <h2>Amazone Inc.</h2>
      <small>2019 - 2020</small>
      <p>Lorem nulla delectus maiores. Officiis, pariatur.</p>
      <span class="right-container-arrow"></span>
    </div>
  </div>
  <div class="container container-left">
    <img src="assets/images/tesla.png" alt="tesla">
    <div class="text-box">
      <h2>Tesla Inc</h2>
      <small>2020 - 2021</small>
      <p>Lorem ipsum,iure nulla delectus maiores. Officiis, pariatur.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>
  <div class="container container-right">
    <img src="assets/images/toyota.png" alt="toyota">
    <div class="text-box">
      <h2>Toyota</h2>
      <small>2021 - 2022</small>
      <p>Lorem ipsum, dolor sit amet consectetur iure nulla delectus maiores. Officiis, pariatur.</p>
      <span class="right-container-arrow"></span>

    </div>
  </div>
 
</div>